{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}{% if section.settings.show_share_buttons %}
  <div class="password-social-sharing">
    <p class="password__form-heading h4">{{ section.settings.social_message }}</p>
    {% include 'social-sharing' %}
  </div>
{% endif %}

<div class="password-powered-by">
  {% capture shopify %}
    <a class="classic-link shopify-link" href="//www.shopify.com" target="_blank" title="<ly-as-12585063>Create your own online store with Shopify</ly-as-12585063>"><ly-as-12585062>Shopify</ly-as-12585062></a>
  {% endcapture %}

  <small>{% comment %}ly_i18n_replace_for_[ 'general.password_page.powered_by_shopify_html' | t: shopify: shopify ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.password_page.powered_by_shopify_html' | t: shopify: shopify }}{% endcapture %}{% include 'ly-static-string' with '12585065' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = shopify  %}{% assign ly_template = ly_template | replace: '[[shopify]]', replacement %}{% if escape_content %}{{ ly_template}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</small>
</div>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      },
      {
        "type": "text",
        "id": "social_message",
        "label": "Social sharing buttons heading",
        "default": "Spread the word"
      }
    ]
  }
{% endschema %}
